body {	background-color: #FFFFFF; }	
.ui.menu .item img.logo {	margin-right: 1.5em;}
.main.container {	margin-top: 7em; }
.wireframe { 	margin-top: 2em; }
.ui.footer.segment { 	margin: 5em 0em 0em; padding: 5em 0em;}

/* comic page */
#comic * { font-family: "KomikaHand" }
#comic .ui.segment { border: solid 2px #666; padding: 0; }
#comic .slide { opacity: 0; }
#comic .ui.header { margin-top:20%; margin-bottom: 20%; }
#comic .ui.fluid.image { height: 100%; }

/* bubble */
.triangle-border { border: solid 3px #333; margin: 10px !important;  }
.triangle-border.bottom:before { border-color: #333 transparent}
.triangle-border.left:before { border-color: transparent #333}
.triangle-border.right:before { border-color: transparent #333}
.triangle-border.top:before { border-color: #333 transparent}

.speech {	position: absolute; z-index: 1; }
.right.speech { right: 0; margin-top: 10%; max-width: 50%; }
.left.speech { left: 0; margin-top: 10%; max-width: 50%; }
.bottom.speech { bottom: 0; right: 30%; }


.show { opacity: 1; }

.hidden.menu {
  display: none;
}

.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.ui.vertical.stripe {
  padding: 8em 0em;
}
.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

.ui.inverted.segment { background-image: url('../image/header.jpg'); background-attachment: fixed; background-size: cover}
.ui.secondary.inverted.pointing.menu { border: none }


@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
	display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
	display: none;
  }
  .secondary.pointing.menu .toc.item {
	display: block;
  }
  .masthead.segment {
	min-height: 350px;
  }
  .masthead h1.ui.header {
	font-size: 2em;
	margin-top: 1.5em;
  }
  .masthead h2 {
	margin-top: 0.5em;
	font-size: 1.5em;
  }
}

@font-face {
	font-family: "KomikaHand";
	src: url("../css/font/komika_hand.ttf");
	font-style: normal;
	font-weight: normal;
}
